.form-item-clerkly-comment label {
    display:block;
    width:100% !important;
}
#modalContent .close img {
    margin-left:20px;
}
.info-message {
    background-position: 8px 8px;
    background-repeat: no-repeat;
    border: 1px solid;
    margin: 6px 0;
    padding: 10px 10px 10px 50px;
}
.info-error{
    color: #8c2e0b;
    border-color: #ed541d;
    background-color: #fef5f1;
     background-image: url(/misc/message-24-error.png);
    background-repeat: no-repeat;
}

.info-success{
    color: #234600;
    background-image: url(/misc/message-24-ok.png);
    border-color: #be7;
    background-repeat: no-repeat;
}